# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# log files
*.log

# ---> CMake

# build
build/*
compile_commands.json

# ---> clang++

# clangd cache
.cache

# clang files
.clangd/*

# ---> vim

# vim intermediate files
*.swp
*.swo

# vim/neovim default session file
Session.vim

# ---> Tools

# valgrind report files
cachegrind.*
callgrind.*

# kdevelop metafiles
.kdev4/*
*.kdev4

