[submodule "libs/libarcstk"]
	path = libs/libarcstk
	url = https://github.com/crf8472/libarcstk.git
	branch = 0.1
[submodule "libs/libarcsdec"]
	path = libs/libarcsdec
	url = https://github.com/crf8472/libarcsdec.git
	branch = main

